body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 251, 251);
    font-family: "Lato", sans-serif;
}

.container {
    justify-content: center;
    width: 300px;
    height: 480px;
    border-radius: 8px;
    background-color: #333;
    box-shadow: 5px 5px rgba(176, 179, 179, 0.118);
}

.calculo {
    width: 100%;
    padding: 10px;
}

#resultado {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-size: 40px;
    padding: 15px;
    background-color: rgb(127, 210, 243);
    border: solid 5px rgb(69, 193, 241);
    width: 79.9%;
    height: 80px;
    border-radius: 8px;
}

.botoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 15px;
}

button {
    background-color: #dcdbdba7;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 42px;
    cursor: pointer;
}

button:hover {
    background-color: #dcdbdb44;

}

#c {
    background-color: rgb(240, 25, 25);
}

#c:hover {
    background-color: rgba(240, 25, 25, 0.815);
}

.botoes #num1, #num2, #num3 {
    display: grid;
    height: 52px;
}

.botoes #c, #num7, #num4, #num1 {
    width: 65px;
}

.botoes #zero {
    margin-top: -68px;
    height: 50px;
    width: 135px;
}

.botoes #calcular {
    display: flex;
    align-items: center;
    height: 115px;
}

.botoes #multiplicacao {
    margin-top: -68px;
    height: 50px;
}

.botoes #apagar, #num8, #num5, #num2 {
    width: 60px;
    margin-left: -80px;
}

.botoes #divisao, #num9, #num6, #num3 {
    width: 60px;
    margin-left: -78px;
}

.botoes #multiplicacao {
    width: 60px;
    margin-left: -10px;
}

.botoes #resultado, #somar, #diminuir, #multiplicacao {
    width: 60px;
    margin-left: -25px;
}

#multiplicacao {
    width: 40px;
}




